.wrapper-form {
  background-color: rgb(248, 246, 253);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;

  .title {
    color: #315db7;
    font-size: 2.75rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
    // border: 1px solid #0d0d0f;
  }
  .subtitle {
    // border: 1px solid #0d0d0f;
    text-align: center;
    min-width: 80%;
    font-size: 15px;
    color: #708198;
  }
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .form-inputs {
    // border: 1px solid #0d0d0f;
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  .form-message {
    // border: 1px solid #0d0d0f;
    display: flex;
    flex-direction: column;
    margin: 20px;

    .message {
      min-height: 250px;
    }
  }
  .form-button:hover {
    background-color: rgb(0, 118, 214);
  }
  .form-button {
    padding: 20px;
    border: none;
    background-color: rgb(29, 110, 202);
    font-weight: 500;
    font-size: 20px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-top: 10px;
    width: 80%;

    @media screen and (max-width: 650px) {
      width: 50%;
    }
  }
}

input,
textarea {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}

input:focus,
textarea:focus {
  border: 1px solid rgb(67, 150, 218);
}

label {
  margin-bottom: 5px;
  color: #000;
  font-weight: 600;
}
