.infoSec {
  color: #ffffff;
  padding: 85px 0;
  position: relative;
  overflow: hidden;
  // border: 1px solid #0d0d0f;
  width: 100%;
  // max-width: 1300px;
  // margin-right: auto;
  // margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}
canvas {
  background-color: #1e87e9;
  position: absolute;
  top: 0;
  left: 0;
  display: inline;
}

.infoRow {
  display: flex;
  margin: 0 -15px -15px -15px;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  //   border: 1px solid #0d0d0f;
}

.infoColumn {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  width: 50%;
  // border: 1px solid #0d0d0f;

  @media screen and (max-width: 768px) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.textWrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 10px;
  //   border: 1px solid #0d0d0f;
}
.topLine {
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  margin-bottom: 16px;
  //   border: 1px solid #0d0d0f;
}
.heading {
  margin-bottom: 24px;
  padding-top: 0;
  margin-top: 0;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  color: "#f7f8fa";
  //   border: 1px solid #0d0d0f;
}
.subtitle {
  max-width: 440px;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
  // line-height: 2;
  font-family: inherit;
  line-height: 24px;
  color: "#a9b3c1";
  //   border: 1px solid #0d0d0f;
}

.formSubscription {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  align-items: center;

  // border: 1px solid #0d0d0f;
}
.formInput {
  padding: 10px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 16px;

  @media screen and (max-width: 900px) {
    width: 80%;
    margin-bottom: 10px;
  }
}
.formButton {
  border-radius: 4px;
  white-space: nowrap;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  @media screen and (max-width: 900px) {
    width: 80%;
  }
}

.imgWrapper {
  max-width: 555px;
  display: flex;
  // justify-content: ${({ start }) => (start ? 'flex-start' : 'flex-end')};
}

.img {
  padding-right: 0;
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  max-height: 500px;
}
